node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env
.env.*
.env.local
!.env.example
firebase-debug.log
firestore-debug.log
ui-debug.log
pubsub-debug.log
database-debug.log
storage-debug.log
auth-debug.log
.emulator
.firestore-analysis.json
